<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>Sun - Html Responsive Template</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Template by Dry Themes" />
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
        <meta name="author" content="DryThemes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="images/favicon.png" />    
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700' rel='stylesheet' type='text/css'>	
        <link rel="stylesheet" type="text/css"  href='../static/css/clear.css' />
        <link rel="stylesheet" type="text/css"  href='../static/css/common.css' />
        <link rel="stylesheet" type="text/css"  href='../static/css/font-awesome.min.css' />
        <link rel="stylesheet" type="text/css"  href='../static/css/carouFredSel.css' />
        <link rel="stylesheet" type="text/css"  href='../static/css/prettyPhoto.css' />        
        <link rel="stylesheet" type="text/css"  href='../static/css/sm-clean.css' />        
        <link rel="stylesheet" type="text/css"  href='../static/css/style.css' />

        <!--[if lt IE 9]>
                <script src="js/html5shiv.js"></script>                
                <script src="js/respond.min.js"></script>                
        <![endif]-->

    </head>
    <body class="single single-portfolio">

				<ul class="ulNav">
                    <li class="liNav logo"><a class="aNav" href="../index.html">Ignorant Productions</a></li>
                    <li class="liNav"><a class="aNav rightNav" href="fashion.html">Fashion</a></li>
                    <li class="liNav"><a class="aNav rightNav" href="contact.asp">Portraits</a></li>
                    <li class="liNav"><a class="aNav rightNav" href="../AboutPage/Avilon/index.html">About</a></li>
                    <li class="liNav"><a class="aNav rightNav" href="collabs.html">Collaborations</a></li>

                </ul>


        <table class="doc-loader">
            <tbody>
                <tr>
                    <td>
                        <img src="images/ajax-document-loader.gif" alt="Loading...">                    
                    </td>
                </tr>
            </tbody>
        </table>   



        <div class="body-wrapper">           
            <div class="content-1330 header-holder center-relative">
                <div class="header-logo left">

                    <h1 class="site-title">
                        Collaboration #1
                    </h1>

                </div>

                <div class="header-menu right">


                    <div class="clear"></div>							
                </div>
                <div class="clear"></div>
            </div>

            <div id="content" class="site-content content-1330 center-relative">
                <article>                                              
                    <div class="content-1330 center-relative clear">                
                        <div class="entry-content">
                            <div class="content-wrap">                           
                                <div class="one margin-0">
                                    <img src="../images/jai.jpg" alt=""><br>
                                </div>
                                <div class="clear"></div>
                                <div class="one_half margin-0">
                                    <img src="../images/jai.jpg" alt=""><br>
                                </div>
                                <div class="one_half last margin-0">
                                    <img src="../images/jai.jpg" alt=""><br>
                                </div>
                                <div class="clear"></div>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <div class="one_half text-right portfolio-item-info">
                                    <strong>Project Name:</strong>&nbsp;Handmade<br>
                                    <strong>Client:</strong> Est Lorem<br>
                                    <strong>Year:</strong> 2015<p></p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>

                                </div>
                                <div class="one_half last ">
                                    <strong>Handmade for Everyone</strong>
                                    <br>
                                    We choose to go to the moon in this decade and do the other things, not because they are easy.
                                    <p>&nbsp;</p>
                                    <p>
                                        Because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone and one.
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </article>
            </div>

            <!--Footer-->

            <footer class="footer">
                <div class="content-1330 center-relative">			
                    <ul>
                        <li class="left-footer-content">
                            © 2018 Sun HTML Template. Crafted with <i class="fa fa-heart"></i> by <a href="http://drythemes.com">DryThemes</a>.            
                        </li>

                        <li class="right-footer-contnet">
                            <a href="#">Twitter</a>
                            <a href="#">Linkedin</a>
                            <a href="#">Dribbble</a>
                            <a href="#">Instagram</a>            
                        </li>
                        <li class="left-footer-content mobile">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </li>
                    </ul>
                </div>
            </footer>

            <!-- End .body-border -->
        </div>



        <!--Load JavaScript-->
        <script src="../static/js/jquery.js"></script>			                                       
        <script src='../static/js/jquery.fitvids.js'></script>
        <script src='../static/js/jquery.smartmenus.min.js'></script>        
        <script src='../static/js/imagesloaded.pkgd.js'></script>        
        <script src='../static/js/isotope.pkgd.js'></script>        
        <script src='../static/js/jquery.carouFredSel-6.0.0-packed.js'></script>
        <script src='../static/js/jquery.mousewheel.min.js'></script>
        <script src='../static/js/jquery.touchSwipe.min.js'></script>
        <script src='../static/js/jquery.easing.1.3.js'></script>
        <script src='../static/js/jquery.prettyPhoto.js'></script>        
        <script src='../static/js/jquery.ba-throttle-debounce.min.js'></script>                
        <script src='../static/js/jquery.nicescroll.min.js'></script>
        <script src='../static/js/mainSun.js'></script>
    </body>
</html>