<!DOCTYPE HTML>
<html>
	<head>
		<title>Ignorant Productions | Fashion</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    	<link rel="stylesheet" href="../static/css/fashion.css"/>
    </head>
	<body >
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>	
        <script src="../static/js/fashion.js"></script>

        <ul class="ulNav">
            <li class="liNav logo"><a class="aNav" href="../index.html">Ignorant Productions</a></li>
            <li class="liNav"><a class="aNav rightNav" href="collabs.html">Collaborations</a></li>
            <li class="liNav"><a class="aNav rightNav" href="contact.asp">Portraits</a></li>
            <li class="liNav"><a class="aNav rightNav" href="../AboutPage/Avilon/index.html">About</a></li>
        </ul>



        <h1>Fashion</h1>

         <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="../images/jai.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="../images/jai.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="../images/jai.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="../images/jai.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="../images/jai.jpg"></a>
        </div>



	</body>
</html>